{%extends 'base.html'%}

{% block styles%}
	<style>
	.col-centered{
		float: none;
		margin: 0 auto;
	}
	body {
		background-color: #1c3c2b;
		background-image: url(http://livedoor.4.blogimg.jp/vsokuvip/imgs/1/5/157e6d9d.jpg);
	}
	</style>
	{% endblock styles%}

{% block content %}
<div class='container'>
	<div class='row'>
		<div class='text-center col-sm-12'>
			<h1>{{ title }}</h1>

			<div class='col-sm-5 col-centered'>
				<form method='POST' action='.'> {% csrf_token %}
					<!-- <input name='url' type='text' placeholder='Shorten your URL' /> -->
					{{ form.as_p }}
					<input class='btn btn-info' type='submit' value='Shorten &raquo;' >
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
{% endblock content %}