<!DOCTYPE HTML>
<html>

<head>
	<title>Kirr.co | {% block title %} Shorten that url {% endblock title %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	<link href="https://getbootstrap.com/docs/3.3/examples/cover/cover.css" rel="stylesheet">
	<style>
	.col-centered{
		float: none;
		margin: 0 auto;
}	
	</style>
</head>

<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          
          <div class="inner cover">
            {% block content %}
			{% endblock content %}
          </div>


        </div>

      </div>

    </div>

</body>
</html>